{
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "auto",
    "trailingComma": "all",
    "bracketSpacing": true,
    "requireConfig": true,
    "printWidth": 100,
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "ignore"
}
