@use './functions' as *;

$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 766.98;
$mobile-s: 390.98;

// Laptop
@mixin laptop-above {
    @media (width > rem($laptop)) {
        @content;
    }
}

@mixin laptop {
    @media (width <= rem($laptop)) {
        @content;
    }
}

// Tablet
@mixin tablet-above {
    @media (width > rem($tablet)) {
        @content;
    }
}

@mixin tablet {
    @media (width <= rem($tablet)) {
        @content;
    }
}

// Mobile
@mixin mobile-above {
    @media (width > rem($mobile)) {
        @content;
    }
}

@mixin mobile {
    @media (width <= rem($mobile)) {
        @content;
    }
}

// Mobile S
@mixin mobile-s-above {
    @media (width > rem($mobile-s)) {
        @content;
    }
}

@mixin mobile-s {
    @media (width <= rem($mobile-s)) {
        @content;
    }
}

@mixin hover($hasActiveEffectInMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if (hasActiveEffectInMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}
